
.bg-opciones {
    background-image: linear-gradient(to right, #F94F66, #FA555F, #FA5E57, #FB6155, #FB6650, #FB694E, #FC7344);
    width: 100%; 
    height: 100%;
    margin-top: 55px;
    
}




.nav-link {
    font-size: 9px;
    color: white;
    font-family: 'Inter', sans-serif;


}

.nav-link.a {
    color: white;
}

.container-img {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    padding: 10px;
    gap: 10px;
    
  }

.container-img .img img {
    width: 80%;
    height: 275px;
}

.container-imgnoticias  {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.container-imgnoticias img {
    width: 40%;
}

.mobileFirst {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.mobileFirst .titulo {
    padding: 5px;
}

.mobileFirst .texto {
    padding: 10px;
}

@media (min-width: 768px) {
    .mobileFirst {
        grid-template-columns: 1fr 1fr;
    }
}